AES_SECRET_KEY=PEGA_AQUI_LA_CLAVE_GENERADA_AL_EJECUTAR_GENERAR_CLAVE_AES_PY

# URL del frontend permitida (CORS)
FRONTEND_URL=

# Configuración MySQL
DB_NAME=ejemplo_cifrado
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Django Secret Key 
DJANGO_SECRET_KEY=