# Python
*.py[cod]
*$py.class
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3-journal
/media


# Entornos virtuales
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Variables de entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db

#llave publica y privada rsa
private_key.pem
public_key.pem
